---
import Layout from "../layouts/Layout.astro";
import Wrapper from "../components/Wrapper.astro";
import Eventcard from "../components/Eventcard.astro";

import {
  getHomePageData,
  urlForImage,
  getEventData,
  getAssetData,
} from "../sanity/api";
import { PortableText } from "astro-portabletext";

const pageData = await getHomePageData();
const assetData = await getAssetData("OhOhOslo");
const eventData = await getEventData();
---

<Layout title="Oslo Roller Derby">
  <main>
    <section class="heroSection">
      <Wrapper>
        <div class="heroContainer">
          <div class="imageContainer">
            <img
              src={urlForImage(pageData.hero.image.src)}
              alt={pageData.hero.image.alt}
            />
          </div>
          <div class="textContainer">
            <PortableText value={pageData.hero.text} />
            <button>
              {pageData.hero.buttonText}
            </button>
          </div>
        </div>
      </Wrapper>
    </section>
    <section class="eventSection">
      <div class="eventSectionimageContainer">
        <img src={urlForImage(assetData.asset.src)} alt={assetData.asset.alt} />
      </div>
      <div class="eventContainer">
        {
          eventData.length > 0
            ? eventData.map((event) => (
                <Eventcard
                  title={event.title}
                  time={event.time}
                  date={event.date}
                  image={event.image}
                  location={event.location}
                  link={event.link}
                />
              ))
            : "nothing here"
        }
      </div>
    </section>
  </main>
</Layout>

<style lang="scss" is:global>
  main {
    .heroSection {
      background-image: url(/public/stripes.png);
      background-repeat: no-repeat;
      background-size: 500px;
      background-position: 0% 90%;
      margin-top: var(--space-40);

      .imageContainer {
        display: none;
      }
      .textContainer {
        h1:nth-child(3) {
          margin-bottom: var(--space-20);
        }
        p {
          font-size: var(--font-size-18);
          font-weight: 400;
          line-height: 29px;
        }
      }
      button {
        all: unset;
        border: none;
        background-color: var(--yellow);
        padding: 20px 50px;
        font-size: var(--font-size-20);
        border-radius: 6px;
        margin-top: 50px;
        color: black;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
    .eventSection {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
      background-image: url(/public/concreteWall.png);
      background-blend-mode: color-burn;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: var(--yellow);
      height: 200vh;
      padding: 0px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      .eventSectionimageContainer {
        width: 300px;
        height: auto;
        margin-top: 150px;

        img {
          width: 100%;
        }
      }

      .eventContainer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
    }

    @media screen and (min-width: 568px) {
      .heroSection {
        background-size: 800px;
        background-position: top right;
      }
    }

    @media screen and (min-width: 1024px) {
      .heroSection {
        background-size: 900px;
        background-position: 90% 0%;

        .heroContainer {
          display: flex;
          justify-content: center;
          gap: 8rem;

          .imageContainer {
            display: inline-block;

            width: 400px;
            img {
              width: 100%;
            }
          }
          .textContainer {
            margin-top: 5rem;
            max-width: 500px;
          }
        }
      }
      .eventSection {
        flex-direction: row;
        justify-content: space-evenly;
        height: 130vh;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);

        .eventSectionimageContainer {
          margin-top: 0;
        }
        .eventContainer {
          margin-top: 0;
        }
      }
    }
  }
</style>
